.albums {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #66b2b2;
    height: 50px;
    font-family: "Shadows Into Light";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  list-style: none;
  padding-top: 25px;
}
h1 {
	text-align: center;
    display: flex;
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #66b2b2;
}
nav {
	text-align: center;
    display: flex;
    flex-direction: column;
}
img {
	align-items: center;
	max-width: 50%;
}
h3 {
	font-family: "Shadows Into Light";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  list-style: none;
}
h2 {
	font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #66b2b2;
  padding-bottom: -10px;
}
body {
    background-color: #ffc0cb ;
}