.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

body {
    background-color: #ffc0cb ;
}

    h1 {
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 60px;
    color: #66b2b2;
/*  text-decoration: line-through;*/
/*  text-transform: uppercase;*/
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}

h2 {
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #66b2b2;
}

li {
  font-family: "Shadows Into Light";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  list-style: none;

}

img {
        align-items: center;
        width: 50%;
    }

.picture-centered-text {
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
    font-family: "Shadows Into Light";
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    min-width: 10rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}