.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

body {
    background-color: #ffc0cb ;
}

    h1 {
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 60px;
    color: #66b2b2;
/*  text-decoration: line-through;*/
/*  text-transform: uppercase;*/
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}

h2 {
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #66b2b2;
}

li {
  font-family: "Shadows Into Light";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  list-style: none;

}

img {
        display: block;
  margin-left: auto;
  margin-right: auto;
    }

.picture-centered-text {
    font-family: "Shadows Into Light";
   display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

nav {
    font-family: "Shadows Into Light";
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    min-width: 10rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    justify-content: space-evenly;
}

a {
  background-color: #66b2b2;
  color: black;
  border: 2px;
  border-color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5rem;
  margin-right: 10px;
  margin-left: 10px;
}


/*start of media queries*/
@media screen and (max-width: 500px){




img {
    display: flex;
    max-width: 90%;
}
body {
    background-color: #f2e4f;
}

    p {
        margin-right: 50px;
        margin-left: 50px;
    }
h1 { 
    font-size: 40px;
 }

a {
    padding: 4px;
}


@media screen and (min-width:501px){

body {
    background-color: #f2e4f;
}
    p {
        margin-left: 35px;
        margin-right: 35px;
    }

img {
    display: flex;
    max-width: 60%;
    margin-top: 15px;
}
h1 {
    font-size: 50px;
}

a {
    text-align: center;
}

@media screen and (min-width:720px){
    body {
    background-color: #f2e4f ;
}
img {
    display: flex;
    max-width: 30%;
    margin-top: 30px;
}

a:link{
    color: black;
}