.gallery {


}

button_next {

}

button_previous {

}

stepper {

}

.hideThis {
	
}

.gallery-image {

}






/*Photo gallery css for gallery-test*/

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.gallery-descrip {

}


.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	background-color: #66b2b2;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: #ffc0cb;*/
}

.gallery-image {
	max-width: 80%;
	

}

.gallery-image img {
	width: 100%;
/*	max-height: 500px;*/
}

.hideThis {
	display: none;
}

example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}

/*

Name h2
Year date-label
Description desc-label
Notable disctintion notable-label
wiki link wiki-link*/

.list-item {
	display: flex;
/*	flex-wrap: wrap;*/
	box-shadow: inset 1rem 1rem gold;
	border-radius: 3px;
}



.list-item h2 {
	font-family: "Shadows Into Light";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  list-style: none;
/*	This will fall back to a default font when not connected*/
}

.date-label {

}


.list-item .date-label {
	display: flex;
	font-weight: 200;
	margin-left: 1rem;
}

.list-item .desc-label {
	display: flex;
	font-weight: 400;
	margin-left:1rem;
	padding: 0.25rem;
	margin-top: -1rem;

}

.list-link {
	text-decoration: underline solid rgba(153,0,0,.5) 5px;

}

.list-image {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
   
.img-credit {
	    
    	position: absolute;
    	bottom: 0;
    	right: 0;
/*    	width: 100%;*/
    	z-index: 3;
    	color: #000;
	    font-family: 'Gowun Batang';
    	font-size: 0.8rem;
    	padding: 1rem;
}

.img-credit a {
	color: whitesmoke;
	text-shadow: black 1px 0 10px;
	background: black;
	border-radius: 2px;

}

/**/

.list-image img{

	max-width: 200px;
	margin: 1rem;
	box-shadow: 3px 3px gold;
	border-radius: 0.3rem;
	
}




.fancy-text {
	font-family: 'Gowun Batang';

}

.fancy-background {
	background-color: #797979;
	padding: 1rem;
}

.fancy-background .fancy-text {
	font-size: xx-large;
}

.background-blue h3 {
	background: skyblue;
}



.crabgrounds6 {
	background-image: 
	linear-gradient(rgba(115, 191, 255, 0.5), rgba(229, 172, 103, 1.0)),
/*	linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),*/
  	url("../img/crab-background.png");
  	background-repeat: no-repeat;

}

.greens {
/*	text-shadow: 5px 5px #558ABB;*/
/*	background-color: goldenrod;*/
background-color: rgba(218,165,32,0.5);
}


.blues2 {
	color: #797979;
	background-color: greenyellow;
/*	this is a test item*/
}


.example-font .blues2 p {
	font-family: 'Gowun Batang';
	font-size: 1.5rem;
/*	text-decoration: underline;*/
	text-decoration: underline  10px #FF3028;
	color: crimson;

}


.flex-example {
	display: flex;

}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}

.blue {
	
	
	width: 300px;
	background-color: blueviolet;
	padding: 1rem;
}


.red {
	width: 300px;
	background-color: crimson;
	padding: 1rem;
}

.green {
	width: 300px;
	background-color: greenyellow;
	padding: 1rem;
}

.teal {
	width: 300px;
	background-color: teal;
	padding: 1rem;
}




.image-type-1 {
	background-color: greenyellow;
	padding: 2rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-2 {
	background-color: orange;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-3 {
	background-color: teal;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-4 {
	background-color: rebeccapurple;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-5 {
	background-color: rebeccapurple;
	padding: 4rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.mailing-link {
	display: flex;
}

.mailing-link img {
	display: flex;
	border-radius: 5rem;
	max-width: 400px;
	justify-content: center;
}

.lead-image img {
/*	width: 100%;*/
/*	margin: 1rem;*/
	margin: auto;
	border-radius: 20rem;
/*	filter: drop-shadow(0 0 0.75rem #00bfff);*/
/*	filter: drop-shadow(0 0 0.75rem crimson);*/
	filter: drop-shadow(0 0 0.75rem #913814);
}

.lead-image {
	width: 100%;
	padding: 3rem;
}

.mailing-link a {

}

.listings {

}

.punchline {
/*	display: none;*/
	text-decoration: #00bfff wavy 2px underline;
	text-transform: lowercase;
}

.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 24
		}

.monotype {
			font-family: 'IBM+Plex', monospace;
		}

/*.blues {
	rgba(115, 191, 255, 0.5) 73bfff
}

.redsand {
	rgba(229, 172, 103, 0.5) e5ac67

}

.teallight {
	rgba(134, 206, 170, 0.5) 86ceaa

}*/


/*@media (min-width: 300px) {
	p {
		font-family: 'Nabla', cursive;
		font-size: 1rem;
	}
}

@media (min-width: 600px) {
	body {
	background-color: rgba(229, 172, 103, 0.5);

	}
	.punchline {
	text-decoration: crimson wavy 2px underline;
	text-transform: uppercase;

	}

}*/


/*.gallery-image {


  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: auto;
  width: 100%;
  max-width: 700px;
  


}
*/
.intro {
	background-color: skyblue;
}


.scifi-intro {
	margin: 1rem;
	padding: 1rem;
	background-color: #fafad2;
}

/*.scifi-intro h2 {
	margin: 0rem;
	padding: 0rem;
}
.scifi-intro p {
	
}*/


.examples-now {
	
}



/*start of media queries*/
@media screen and (max-width: 500px){



body {
		background-color:#ffc0cb;
}

main {
	width: 100%
}

img {
		align-items: center;
/*		width: 100%;*/
	}

.gallery-example h1 {
	text-align: center;
    display: flex;
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  color: #66b2b2;
}

h2 {
	font-weight: 500;
	font-size: 2.3rem;
}

h3 {
	font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
    margin: 1rem;
    margin-left: 1rem;
    color: #66b2b2;
}

p {
	font-size: 1.5rem;
	}

nav {
	background-color: rgba(255, 255, 255, 0.0);
	max-width: 100%px;
	font-size: 1rem;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	border-radius: 0.5rem;
}
	


nav ul li {
	flex-flow: row wrap;
	list-style-type: none !important;
	padding: 0.1rem;
	text-align: center;
	margin-top: 0.15rem;
/*	width: 100%;*/
	

}

nav ul li a {

	text-decoration: none;
	text-transform: uppercase;
}



/*gallery small screen*/

.gallery-section { 
	background-color: #194e8e;
	padding-top: 0.2rem;
	border-radius: 0.5rem;
 }

.gallery-example {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	
}


.gallery-descrip {
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

.gallery-descrip web h1 {
	text-align: center;
    display: flex;
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  color: #66b2b2;
}

.gallery-descrip p {
	color: #000;

}

figcaption {
	color: #000;
}


/*.orange-sticky {
	position: sticky;
	top: 5rem;
	width: 300px;
	background-color: darkorange;
	padding: 1rem;

}*/




.button_holder {
	
	display: flex;
	flex-direction: row;
	color: #000;
}

button_next {  }
button_previous {  }

stepper { 
	
 }



button {
	background-color: #66b2b2;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
/*	max-width: 90%;*/
	max-width: 80%;
/*	max-height: 100vh;*/
	

}

.gallery-image img {
/*	width: 100%;*/
	max-height: 500px;
}





.hideThis {
	display: none;
}

example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}



.flex-example {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;



}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}

.blue {
	width: 300px;
	background-color: blueviolet;
	padding: 1rem;
	border-radius:4;
}


.red {
	width: 300px;
	background-color: crimson;
	padding: 1rem;
}

.green {
	width: 300px;
	background-color: greenyellow;
	padding: 1rem;
}

.teal {
	width: 300px;
	background-color: teal;
	padding: 1rem;
}



}


@media screen and (min-width:501px){
	body {
		background-color: #ffc0cb;
}

.gallery-descrip p {
	padding-left: 1.4rem;
	padding-right: 1.4rem;
}





	}


@media screen and (min-width:720px){
.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
.example-image img {
	background-color: crimson;
	padding: 3rem;
}





	body {

	background-color: #ffc0cb;
}

	}


footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #66b2b2;
    height: 50px;
    font-family: "Shadows Into Light";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  list-style: none;
  padding-top: 25px;
  margin-top: 25px;
}