h1 {
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
    margin: 1rem;
    margin-left: 1rem;
    color: #434343;
/*  text-decoration: line-through;*/
/*  text-transform: uppercase;*/
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}