h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    margin: 1rem;
    margin-left: 1rem;
    color: #434343;
/*  text-decoration: line-through;*/
/*  text-transform: uppercase;*/
}

p {
    font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;";
    text-align: center;
}